* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: Inter, Arial, Helvetica, sans-serif;
}
/* ///////////////////////////////////////////////////////////////////// */

/* GRID CONTAINER 1 */
.content {
  max-width: 375px;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(48px, auto);
}
/* /////////////////////////////////// */

/* Nav Section */
nav {
  padding-bottom: 2rem;
}
nav h1 {
  margin-bottom: 0.4rem;
}
.nav-top {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  margin-bottom: 1rem;
}
nav p,
nav span {
  font-weight: 700;
  color: grey;
  font-size: 0.9rem;
}
.nav-bot {
  display: flex;
  justify-content: space-between;
}

/* ///////////////////////////////////////////////////////////////////// */

.a-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 1rem 0;
  border-radius: 6px;
  margin-bottom: 2rem;
  background: rgb(247, 247, 247);
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}
.a-card:hover {
  background-color: #ebedf1;
}
.a-card h1 {
  font-size: 3.6rem;
  color: #1a1d26;
}
.a-card h4 {
  font-weight: lighter;
  letter-spacing: 0.4rem;
  color: rgba(100, 102, 115, 0.979);
}

.a-card .first-img {
  padding-bottom: 1.3rem;
}
.a-card .first-img span {
  font-size: 0.8rem;
  padding-left: 1rem;
  color: #656975;
  font-weight: bold;
}

.up-img {
  padding-top: 1.5rem;
  color: #3db997;
  font-weight: bold;
  font-size: 0.8rem;
}
.down-img {
  padding-top: 1rem;
  color: #c7525b;
  font-weight: bold;
  font-size: 0.8rem;
}

.a-card .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#fb-card {
  border-top: 5px solid hsl(208, 92%, 53%);
}
#tw-card {
  border-top: 5px solid #279de3;
}
#inst-card {
  border-top: 5px solid #f5c16d;
}
#yout-card {
  border-top: 5px solid #b40a2e;
}

/* ///////////////////////////////////////////////////////////////////// */

/* ASIDE SECTION */

.subtitle {
  padding: 0.8rem 0;
  color: #646778;
  display: grid;
  grid-template-columns: 1fr;
}

/* ///////////////////////////////////////////////////////////////////// */

.b-card {
  background: rgb(247, 247, 247);
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  padding: 1rem;
  border-radius: 5px;
  margin: 2rem 0;
}
.b-card:hover {
  background-color: #ebedf1;
}

.top-b-card,
.bot-b-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.bot-b-card {
  padding-top: 1.8rem;
}

.top-b-card .big-text {
  font-size: 0.9rem;
  font-weight: bold;
  color: #646778;
}
.bot-b-card .big-text {
  color: #1a1d26;
  font-size: 1.8rem;
  font-weight: bold;
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* DESKTOP SECTION */
@media only screen and (min-width: 700px) {
  .content {
    max-width: 1000px;
  }
  .nav-top {
    border-bottom: none;
    padding-bottom: 20px;
    margin-bottom: 0;
  }
  .section-a {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
  }

  .section-b {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
  }

  .b-card {
    margin-bottom: 0;
    margin-top: 1rem;
    padding: 20px;
  }
}
