* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --big-txt-color: #1a1d26;
  --small-txt-color: #646778;
  --up-txt-color: #3db997;
  --down-txt-color: #c7525b;
}
html {
  font-family: Inter, Arial, Helvetica, sans-serif;
}
.dark-mode-bg {
  background: #20222f;
}

#dark-button {
  margin-left: 1rem;
  cursor: pointer;
}
.dark-mode-bg-2 {
  background-color: #252b43 !important;
}
.dark-mode-text {
  color: white !important;
}

/* /* ////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////// */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  /* background-color: #2196f3; */
  background: linear-gradient(180deg, #3f96cc 0%, #51cd97 100%);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ///////////////////////////////////////////////////////////////////// */

/* GRID CONTAINER 1 */
.content {
  width: 95%;
  max-width: 375px;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(48px, auto);
}
/* /////////////////////////////////// */

/* Nav Section */
nav {
  padding-bottom: 2rem;
}
nav h1 {
  margin-bottom: 0.4rem;
}
.nav-top {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  margin-bottom: 1rem;
}
nav p,
nav span {
  font-weight: 700;
  color: var(--small-txt-color);
  font-size: 0.9rem;
}
.nav-bot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ///////////////////////////////////////////////////////////////////// */

.a-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 1rem 0;
  border-radius: 6px;
  margin-bottom: 2rem;
  background: rgb(247, 247, 247);
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}
.a-card:hover {
  background-color: #ebedf1;
}
.a-card h1 {
  font-size: 3.6rem;
  /* color: #1a1d26;  */
  color: var(--big-txt-color);
}
.a-card h4 {
  font-weight: lighter;
  letter-spacing: 0.4rem;
  color: rgba(100, 102, 115, 0.979);
}

.a-card .first-img {
  padding-bottom: 1.3rem;
}
.a-card .first-img span {
  font-size: 0.8rem;
  padding-left: 1rem;
  color: #656975;
  font-weight: bold;
}

.up-img {
  padding-top: 1.5rem;
  /* color: #3db997; */
  color: var(--up-txt-color);
  font-weight: bold;
  font-size: 0.8rem;
}
.down-img {
  padding-top: 1rem;
  color: var(--down-txt-color);
  font-weight: bold;
  font-size: 0.8rem;
}

.a-card .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#fb-card {
  border-top: 5px solid hsl(208, 92%, 53%);
}
#tw-card {
  border-top: 5px solid #279de3;
}
#inst-card {
  border-top: 5px solid #f5c16d;
}
#yout-card {
  border-top: 5px solid #b40a2e;
}

/* ///////////////////////////////////////////////////////////////////// */

/* ASIDE SECTION */

.subtitle {
  padding: 0.8rem 0;
  color: #646778;
  display: grid;
  grid-template-columns: 1fr;
}

/* ///////////////////////////////////////////////////////////////////// */

.b-card {
  background: rgb(247, 247, 247);
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  padding: 1rem;
  border-radius: 5px;
  margin: 2rem 0;
}
.b-card:hover {
  background-color: #ebedf1;
}

.top-b-card,
.bot-b-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.bot-b-card {
  padding-top: 1.8rem;
}

.header-text {
  color: var(--small-txt-color);
}
.top-b-card .big-text {
  font-size: 0.9rem;
  font-weight: bold;
  color: #646778;
}
.bot-b-card .big-text {
  color: #1a1d26;
  font-size: 1.8rem;
  font-weight: bold;
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* DESKTOP SECTION */
@media only screen and (min-width: 700px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .content {
    max-width: 1000px;
  }
  .nav-top {
    border-bottom: none;
    padding-bottom: 20px;
    margin-bottom: 0;
  }
  .nav-bot {
    align-items: center;
  }
  .section-a {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
  }

  .section-b {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
  }

  .b-card {
    margin-bottom: 0;
    margin-top: 0;
    padding: 20px;
  }
}
